@import "../src/variables";
$mainImage: url("../stylesheets/images/main.jpg");
$newsImagePrimary: url("../stylesheets/images/news_background_primary.jpg");
$newsImageSecondary: url("../stylesheets/images/news_background_seconary.jpg");
$mainBackgroundColor: #414a52;
$bgMask: url("../stylesheets/images/Mask.jpg");
$statisticsImage: url("../stylesheets/images/num_bg.jpg");

//main section
.main {
	position: relative;
	text-align: center;
	font-family: inherit;
	color: $colorWhite;
	height: 680px;

	background: {
		color: $mainBackgroundColor;
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.5;

		background: {
			image: $mainImage;
			size: cover;
			repeat: no-repeat;
			position: center;
		}
	}

	&__title {
		font-size: 45px;
		line-height: 60px;
		letter-spacing: 0.75px;
		max-width: 31ch;
	}

	&__paragraph {
		letter-spacing: 0.83px;
		line-height: 26px;
		max-width: 78ch;
	}

	&_sticked_bar {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 10px;
	}

	&_sticked_title {
		position: absolute;
		left: 50%;
		top: 163px;
		margin: 0;
		transform: translateX(-50%);
	}

	&_sticked_button {
		position: absolute;
		left: 50%;
		top: 450px;
		margin: 0;
		transform: translateX(-50%);
	}

	&_sticked_paragraph {
		position: absolute;
		left: 50%;
		top: 328px;
		margin: 0;
		transform: translateX(-50%);
	}

	&__input {
		width: 10px;
		height: 10px;

		margin: {
			right: 10px;
			bottom: 37px;
		}

		border: {
			radius: 50%;
			color: $colorWhite;
			style: solid;
			width: 2px;
		}
	}
}

//videoblock
.row {
    &_top-padding {
        padding-top: 70px;
    }

    &_bottom-padding {
        padding-bottom: 50px;
    }
}


@media screen and (max-width: 576px) {
    .videoblock__lead {
        margin-bottom: 30px;
    }
}

//news section
.news {
    font-family: inherit;
    font-size: inherit;

    &_high {
        height: 500px;
    }

    &__paragraph {
        max-width: 58ch;
    }

    &_background_secondary {
		    background: {
				color: $mainBackgroundColor;
    	}

        &::before {
    		content: '';
    		position: absolute;
    		left: 0;
    		width: 100%;
    		height: 100%;
    		opacity: 0.5;

    		background: {
	    			image: $newsImageSecondary;
	    			size: cover;
	    			repeat: no-repeat;
	    			position: center;
    		}
    	}
    }
}


//statistics
.statistics {
	
		position: relative;
	  text-align: center;
	  font-family: inherit;
	  color: $colorWhite;
	  height: 400px;

    background: {
        color: $mainBackgroundColor;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;

		    background: {
		        image: $statisticsImage;
		        size: cover;
		        repeat: no-repeat;
		        position: center;
		    }
		}
    &__description {
    		text-transform: uppercase;
		}

    &__logo {
        height: 50px;
        width: 50px;
        margin-right: 20px;
    }

		&_margin-top {
				margin-top: 160px;
		}
}

.col {
		&_right-border {
				border-right: 2px solid rgba(255, 255, 255, 0.25);
		}
}
//footer
.footer {
		background-color: $mainBackgroundColor;

		&__header {
				font-size: 16px;
				line-height: 19px;
				letter-spacing: 8px;
				text-transform: uppercase;
				padding-bottom: 27px;
				padding-top: 72px;
		}

		&__logo {
				margin-right: 18px;
		}

		&__title {
				margin-left: 18px;
		}
		&__subtitle {
				font-size: 14px;
				line-height: 25px;
		}

		&_border {
				min-height: 50px;
				width: 1170px;
				border-bottom: 2px solid $white;
		}

		&__nav-bar {
				padding-top: 36px;
		}

		&__list {
				padding-right: 60px;
				text-decoration: none;
				clear: both;
    		display: inline-block;
    		overflow: hidden;
    		white-space: nowrap;
    }

		&_copyright {
				padding-top: 32px;
				padding-bottom: 100px;
				color: rgba(255, 255, 255, 0.5);
		}

		&__links {
				text-decoration: none;
		}

		&_italic {
				font-style: oblique;
		}

}
