@import "variables";

.text_center {
    text-align:center;
}

.text_white {
    color: $colorWhite;
}

.m-b-45 {
    margin-bottom: 45px;
}

.m-b-62 {
    margin-bottom: 62px;
}

.m-b-130 {
    margin-bottom: 130px;
}

.m-t-163 {
    margin-top: 163px;
}
